@import "@/styles/border";

$header-width: 75%;

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.headerContent {
  margin: 0 auto;
  width: $header-width;
  text-align: center;
  white-space: nowrap;
}

.subtitle {
  margin-top: 1.8em;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  border-top: $border-style;
  border-bottom: $border-style;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3rem;
  margin: 0;
  width: $header-width;
}

.navbar li {
  flex: 0 1 20rem;
  margin: 0 $border-collapse-margin;
  border-left: $border-style;
  border-right: $border-style;
  height: 100%;
  line-height: 3rem;
  text-align: center;
  font-size: 0.9rem;
}

.main {
  margin: 1rem auto;
}
