.preview {
  display: flex;
  height: 300px;
  width: 450px;
  border: 1px solid black;
  position: relative;
}

.featured {
  margin: 5.6rem;
  height: 760px;
  width: 940px;
  font-size: 1.12rem;
}

.thumbnailPositionTop {
  flex-direction: column;

  .thumbnail {
    height: 70%;
    width: 100%;
  }
}

.thumbnailPositionLeft {
  flex-direction: row;

  .thumbnail {
    height: 100%;
    width: 45%;
  }
}

.thumbnail {
  position: relative;
}

.details {
  box-sizing: border-box;
  padding: 1.66em;

  .summary {
    font-size: 0.9em;
  }

}
