.postMetaCard {
  display: flex;
  flex-direction: row;
}


.avatar {
  margin: 0.8rem;
  margin-left: 0;
  width: 50px;
  height: 50px;
  position: relative;
  img {
    border-radius: 50%;
  }
}

.textContent {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  p {
    margin: 0;
  }
}

.authorName {
  font-weight: bold;
}

.miscInfo {
  display: flex;
  flex-direction: row;
}

.dotGutter {
  margin: 0 0.4rem !important;
}
