.mainContainer {
  width: 66%;
  max-width: 60rem;
  margin: 0 auto;
  border: 1px solid black;
  padding: 3em 4em;

  hr {
    border: 0;
    border-top: 1px solid black;
    margin: 1.5em auto;
  }
}

.thumbnail {
  margin: 0.2em auto;
}
